* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 99vw;
  height: 98vh;
  
  background-color: #395B64;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  width: 33%;
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 30px; */
  font-size: 3em;
  color: #E7F6F2;
}
.back {
  width: 50px;
  height: 50px;
  /* margin-left: 100px; */
  background-image: url("../img/back.svg");
  background-color: #E7F6F2;
  background-repeat: no-repeat;
  border: none;
  border-radius: 10px;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row {
  display: flex;
  gap: 10px;
}
.cell {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 8px 2px -2px #E7F6F2;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2C3333;
}
.cell:hover {
  /* background-color: red; */
  background-repeat: no-repeat;
}

.score {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.score div {
  width: 200px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.value {
  font-size: 2em;
}
.player-score {
  background-color: #ECB365;
}
.ties {
  background-color: #A27B5C;
}
.cpu-score {
  background-color: #FFB5B5;
}

.winner-display {
  top: 35%;
  left: 38%;
  width: 450px;
  height: 150px;
  position: fixed;
  border: 1px solid red;
  background-color: white;
  visibility: hidden;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 3em;
  opacity: 0.5;
  /* transition: 0.5s; */
  z-index: 1;
}
.winner-display button {
  font-size: 0.5em;
  border-radius: 10px;
  width: 180px;
  height: 40px;
  text-align: center;
}
.inactive {
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
}
.visible {
  top: 41%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}